@import url("https://fonts.googleapis.com/css?family=Lato");

$background: #e74c3c;
$select-color: #fff;
$select-background: transparent;
$select-width: 220px;
$select-height: 40px; 

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: $select-color;
    width: $select-width;
    height: $select-height;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $select-background;
    padding: 8px 15px;
    transition: all 0.2s ease-in;
    border: white solid 1px;
    border-radius: 10px;

    &:after {
        content: "";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-color: $select-color transparent transparent transparent;
        position: absolute;
        top: 16px;
        right: 10px;
    }

    &::after:hover {
        border-color: black transparent transparent transparent;
    }

    &:hover {
        background-color: darken(white, 2);
        color: black;
    }

    &:active,
    &.active {
        background-color: darken(white, 5);
        color: black;

        &:after {
            top: 9px;
            border-color: transparent transparent $select-color transparent;
        }
    }
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: darken($select-background, 5);

    li {
        margin: 0;
        padding: 12px 0;
        text-indent: 15px;
        border-top: 1px solid darken($select-background, 10);
        transition: all 0.15s ease-in;
        border-radius: 10px;

        &:hover,
        &.is-selected {
            color: black;
            background: $select-color;
        }

        &[rel="hide"] {
            display: none;
        }
    }
}